USE [master]
GO
/****** Object:  Database [School]    Script Date: 10/29/2019 12:47:02 PM ******/
CREATE DATABASE [School]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'School', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\School.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'School_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\School_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [School].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [School]
GO
/****** Object:  Rule [dbo].[unsignedIntRule]    Script Date: 10/29/2019 12:47:02 PM ******/
CREATE RULE [dbo].[unsignedIntRule] 
AS
@value >= 0;
GO
/****** Object:  UserDefinedDataType [dbo].[unsignedInt]    Script Date: 10/29/2019 12:47:02 PM ******/
CREATE TYPE [dbo].[unsignedInt] FROM [int] NULL
GO
/****** Object:  Table [dbo].[Compte]    Script Date: 10/29/2019 12:47:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Compte](
	[Num] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [varchar](100) NULL,
	[Prenom] [varchar](100) NULL,
	[solde] [dbo].[unsignedInt] NULL,
PRIMARY KEY CLUSTERED 
(
	[Num] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Etudiant]    Script Date: 10/29/2019 12:47:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Etudiant](
	[cne] [int] NOT NULL,
	[nom] [varchar](100) NULL,
	[prenom] [varchar](100) NULL,
	[sexe] [char](1) NULL,
	[date_naiss] [date] NULL,
	[id_fil] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[cne] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_cne] UNIQUE NONCLUSTERED 
(
	[cne] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Filiere]    Script Date: 10/29/2019 12:47:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Filiere](
	[Id_filiere] [int] IDENTITY(1,1) NOT NULL,
	[Nom_filiere] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_filiere] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Student]    Script Date: 10/29/2019 12:47:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Student](
	[cne] [int] NOT NULL,
	[nom] [varchar](100) NULL,
	[prenom] [varchar](100) NULL,
	[sexe] [char](1) NULL,
	[date_naiss] [date] NULL,
	[adresse] [varchar](200) NULL,
	[telephone] [varchar](50) NULL,
	[id_fil] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[cne] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_Student_cne] UNIQUE NONCLUSTERED 
(
	[cne] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[test_data_type]    Script Date: 10/29/2019 12:47:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[test_data_type](
	[id] [dbo].[unsignedInt] NULL
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Etudiant]  WITH CHECK ADD  CONSTRAINT [fk_fili] FOREIGN KEY([id_fil])
REFERENCES [dbo].[Filiere] ([Id_filiere])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Etudiant] CHECK CONSTRAINT [fk_fili]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [fk_student_fili] FOREIGN KEY([id_fil])
REFERENCES [dbo].[Filiere] ([Id_filiere])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [fk_student_fili]
GO
USE [master]
GO
