<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="SchoolManagement.Properties.Settings.SchoolConnectionString"
      connectionString="Data Source=DESKTOP-MCKIGOC\SQLEXPRESS;Initial Catalog=School;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CSP_Project_StudentManagement.Properties.Settings.SchoolConnectionString"
      connectionString="Data Source=DESKTOP-MCKIGOC\SQLEXPRESS;Initial Catalog=School;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>

